body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: #007bff;
}

.header {
  background-color: #124271;
  padding: 20px 40px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header-info {
  display: flex;
}

.title-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-group h1 {
  margin: 0;
  font-size: 1.8em;
  color: #ecf0f1;
}

.profession-title {
  color: aqua;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1em;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #3498db;
  margin-right: 15px;
}

.header h1 {
  margin-bottom: 5px;
}

.header p {
  margin-top: 0;
}

.header nav a {
  color: white;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
}

.header nav a:hover {
  text-decoration: none;
  color: aqua;
}

.about-section, .projects-section, .contact-section {
  padding: 60px 20px;
  text-align: center;
}

.about-section {
  background-color: #f9f9f9;
}

.about-section p{
  width: 100%;
  font-size: 1.15rem;
  text-align: justify;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contact-section {
  background-color: #f9f9f9;
}

section h2 {
  font-size: 2.2em;
  color: #2c3e50;
  margin-bottom: 40px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  display: inline-block;
}

.projects-section {
  background-color: #ffffff;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.project-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
  color: #166aa1;
  margin-top: 0;
  font-size: 1.4em;
}

.project-item h4 {
  font-size: 1em;
  color: #7f8c8d;
  font-weight: normal;
  line-height: 1.4;
}

.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  margin-top: 50px;
}

.footer p {
  margin: 0;
}


.button{
  background-color: #0d487d;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.button:hover{
  color: white;
  text-decoration: none;
  background-color: #1d85ca;
}

.skills-section{
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.skills-grid{
  display: flex;
  gap: 40px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.skill-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.skill-icon{
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: #f0f0f0;
  border: 2px solid #3498db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-icon:hover{
  transform: scale(1.1);
}

.skill-item p{
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #2c3e50;
}

.education-section{
  margin-top: 30px;
  padding: 60px 20px;
  text-align: center;
}

.education-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;

}

.education-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.education-item:hover{
background-color: #124271
}

.education-item:hover .education-details h3{
  color: white;
}

.education-icon-round {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 2px solid #3498db;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  object-fit: contain;
  margin: 0 auto 15px auto;
  display: block;
}

.education-details h3 {
  margin: 0 0 5px 0;
  color: #2c3e50;
  font-size: 1.2em;
}

.education-details .institution {
  margin: 0;
  font-size: 1em;
  color: #7f8c8d;
}

.education-details .year {
  margin: 5px 0 0 0;
  font-weight: 600;
  font-size: 0.9em;
  color: #3498db;
}
